/*Creates a template style for every page in the program*/

body {
    background-color: #ffffb3;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px
}
form {
    font-size:18px;
}

h1 {
    color: black;
    font-family: Poppins;
    font-size: 48px;
    padding-top: 25px;
}

h2 {
    color: black;
    font-size: 24px;
    font-weight: 500;
}

h3 {
    font-size: 18px;
    color: black;
}

p {
    color: black;
    font-size: 18px;
}

button {
    line-height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 25px;
    background: white;
    border: 1px solid black;
    color: black;
    display: inline-block;
    font-weight: 500;
    position: relative;
    position: relative;
}
button:hover {
    background: lightgrey;
}
button:hover span {
    color: lightgrey;
    right: 20px;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-right: 15px;
    margin-left: 400px;
    color: white;
    text-align: right;
    padding-right: 10px;
}

a {
    text-decoration: none; 
}

div.header {
    background-color: #ffffb3;
}
div.title{
    background-color: #ffffb3;
    text-align: center;
}
div.mainText{
    margin-left: 80px;
    margin-right: 80px;
}
div.photo{
    text-align: center;
}
#searchbar{
    font size: 18px;
    font-family: Poppins;
}